
body {
  padding-top: 7rem;
}

.page-header,
.page-header h1 {margin-top:0px;}

/* INput button */

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 0px solid #ccc;
    background-color: #5bc0de;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 2px;
}

.custom-file-upload-green {
    background-color: #5cb85c;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    padding: 0;
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 20px;
    font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 20px;
    background-color: #f8f8f8;
    padding: 2px;
    color: #d0d0d0; /*#8a6d3b;*/

}
/*
.footer-text{
    color: #8a6d3b;
    font-size: 80%;
}
*/

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.heading 
{
	padding-top: 10pt;
	font-size: 14pt;
}
.heading-smaller
{
	font-size: 12pt;
}

/* dynamic tabs css
@import url('http://getbootstrap.com/2.3.2/assets/css/bootstrap.css');
*/

.container {
    margin-top: 10px;
}

.nav-tabs > li {
    position:relative;
}

.nav-tabs > li > a {
    display:inline-block;
}

.nav-tabs > li > span {
    display:none;
    cursor:pointer;
    position:absolute;
    right: 6px;
    top: 8px;
    color: red;
}

.nav-tabs > li:hover > span {
    display: inline-block;
}

/* simple tab css */
#exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

table {
    /*width: 100%;*/
    width: auto;
    table-layout: fixed;
}
table th, table td {
    overflow: hidden;
}

.data_entry {
    /*display: none;*/
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    padding: 2px;
    margin: 1px;
}

.cancela,.cancela:link,.cancela:visited,.cancela:hover,.cancela:focus,.cancela:active{
    color: inherit;
    text-decoration: none;
}

.cancela_w,.cancela_w:link,.cancela_w:visited,.cancela_w:hover,.cancela_w:focus,.cancela_w:active{
    color: white;
    text-decoration: none;
}

#hh3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;

    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
#hh4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;

    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1, h2, h3, h4, h5 {
    border-top: 0px solid #999999;
    border-bottom: 0px solid #999999;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    /*color: #5C5C5C;*/
    color: black;
}

h2 { font-size: 28px; font-weight: bold; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }

/* For the fancy check boxes */
.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}